body{
    margin: 0;
}


nav{
    background-color: aliceblue;
}
nav ul li{
    color: gainsboro;
    margin: 0 1rem;
    font-weight: 500;
}

nav ul li:hover{
    color: black;
    transition: .5s;
}

nav img{
    height: 40px;
    border-radius: 20px;
    margin-left: 1rem;
}


.hero img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-top: 0;
}

.hero-text{
    margin: 0;
    margin-top: -5.2rem;
    align-items: center;
    justify-content: center;
}

.hero-text h1{
    text-align: center;
    margin-top: -22rem;
    font-size: 2.5REM;
    padding-left: 4rem;
    font-weight: 400;
    font-style: italic;
}



.about-us{
    margin-top: 22rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.aboutus-img{
    width: 40%;
    padding-left: 2rem;
}

.aboutus-text{
    
    width: 60%;
}

.about-us button{
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
}

.about-us button:hover{
    background-color: white;
    color: black;
    transition: .7s;
    border: 1px solid black;
}


.why-us{
  display: flex;   
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
}


.whyus-text{
    width: 50%;
}
.why-us .whyus-img{
    width: 50%;
}

.why-us .whyus-img img{
    width: 100%;
}


.why-us button{
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
}

.why-us button:hover{
    background-color: white;
    color: black;
    transition: .7s;
    border: 1px solid black;
}


.Facilities{
  display: flex;   
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
}


.Facility-img{
    width: 50%;
    
}

.Facilities img{
    width: 100%;
}

.Facility-text{
    width: 70%;
    margin-left: 1rem;
    
}

.Facilities button{
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
}
.Facilities button:hover{
    background-color: white;
    color: black;
    transition: .7s;
    border: 1px solid black;
}

.Watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Watch img{
    width: 20%;
    margin: 2rem 0;
}

.Watch h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.Watch h4{
  
}



.container {
    margin-top: 50px;
}
.watch-img {
    display: block;
    margin: 0 auto;
}

.Watch p{
    text-align: center;
}

footer{
    margin-top: 1rem;
}